body {
    background-color: #161515;
}
code {
    padding: 2px;
    font-size: 190%;
}
span.reservedAtomWord {
    color: #7B85DF;
}
span.kernelSpecialForm {
    color: #7B85DF;
}
span.reservedWord {
    color: #E582D9;
}
span.integer {
    color: #A6E88C;
}
span.float {
    color: #A6E88C;
}
span.atom {
    color: #7B85DF;
}
span.uppercaseAtom {
    color: #18AAD7;
}
span.delimiter {
    color: #EDBE11;
}
span.unusedVariable {
    color: #4F9806;
}
span.comment {
    color: #9597A3;
}
span.moduleName {
    color: #12B86B;
}
span.functionName {
    color: #F87979;
}
span.string {
    color: #E07D25;
}
span.multilineString {
    color: #E07D25;
}
span.charlist {
    color: #CFCE96;
}
span.multilineCharlist {
    color: #CFCE96;
}
span.generic {
    color: #FFFFFF;
}